* {

  margin: 0;

  padding: 0;

  outline: none;

  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



a {

	text-decoration: none;

}



a img {

    border: none;

}



body {

	position: relative;

	background-color: #fff;

	min-width: 1024px;

	-webkit-transition: -webkit-transform .5s ease;

	-moz-transition: -moz-transform .5s ease;

	-ms-transition: -ms-transform .5s ease;

	-o-transition: -o-transform .5s ease;

	transition: transform .5s ease;

	height: 100%;

}



@font-face {

    font-family: 'BebasNeue';

    src: url('fonts/BebasNeue-webfont.eot');

    src: url('fonts/BebasNeue-webfontd41d.eot?#iefix') format('embedded-opentype'),

         url('fonts/BebasNeue-webfont.woff') format('woff'),

         url('fonts/BebasNeue-webfont.ttf') format('truetype'),

         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');

    font-weight: normal;

    font-style: normal;

}



#header {

}



#slideshow-header {

	width: 100%;

	border-top: 5px solid #444135;

	position:relative;

	height: 290px;

}



#slideshow-bg {

	width: 100%;

	position: absolute;

	height: 290px;

	background: url(images/gibralfaro.png) no-repeat #000;

}



#slideshow-logo {

	width: 100%;

	position: absolute;

	height: 290px;

	background: url(images/logo.png) no-repeat;

}



#slideshow-holder {

	position: absolute;

	width: 100%;

	bottom: 0px;

	height: 150px;

}



#logo-left {

	width: 22.222222%; /* 200px/900 */

	overflow: hidden;

	float: left;

	height: 100%;

}



#logo-right {

	width: 77%;

	float: left;

	overflow: hidden;

	position: relative;

	height: 100%;

}



#logo-header {

	position: absolute;

	height: 155px;

	width: 245px;

	bottom: 0px;

	background: url(images/logo200.png) no-repeat center #FFFFFF;

	box-shadow: 1px -2px 10px #888;

}



#sub-header {

	width: 100%;

	overflow: hidden;

	background-color: #FFFFFF;

	-webkit-box-shadow: 0 1px 5px -1px #333;

	-moz-box-shadow: 0 1px 5px -1px #333;

	box-shadow: 0 1px 5px -1px #333;

}



#subheader-right {

	float: left;

	width: 85%;

	margin-left: 15%;

}



#subheader-logo {

	float: left;

	padding: 30px 12px;

}



#subheader-logo img {

	height: 95px;

}



#subheader-title {

	float: left;

	overflow: hidden;

	padding: 50px 15px 0px 60px;

}



#subheader-title h1 {

	font-family: BebasNeue, 'Open Sans', sans-serif;

	font-size: 29px;

	font-weight: 400;

	color: #444444;

	text-align: center;

}



#subheader-title h2 {

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	font-weight: 500;

	color: #444444;

	text-align: center;

}



#copyrightmalaga-header {

	width: 100%;

	background-color: #444135;

}



#copyrightmalaga-header h2 {

	font-family: 'Open Sans', sans-serif;

	font-size: 7px;

	font-weight: 300;

	color: #FFFFFF;

	text-align: right;

}



#main-block {

	width: 100%; /* 980px/980 */

	overflow: hidden;

	margin-top: 2px;

	margin-bottom: 70px;

}



#menu-block {

	width: 15%;

	overflow: hidden;

	float: left;

}



#menu-navigation {    

	display: block;

	border-right: 1px solid #c5c5c5;

}



#menu-navigation ul {

	margin: 0;

	padding:0;

	list-style: none;

}



#menu-navigation .menu-option {

	text-align: right;

}



#menu-navigation  li.menu-option.selected {

	border-right: 3px solid #0f28a5;

}



#menu-navigation  li.menu-option.selected a {

	color: #0f28a5;

}



#menu-navigation .submenu-navigation {

	display: none;

}



#menu-navigation  li.menu-option.selected .submenu-navigation {

	display: block;

}



#menu-navigation  li.menu-option {

	padding: 10px 15px 10px 0px;

	border-bottom: 1px solid #c5c5c5;

	cursor: pointer;

}



#menu-navigation  li.menu-option a {

	font-family: BebasNeue, 'Open Sans', sans-serif;

	font-size: 19px;

	font-weight: 400;

	color: #444444;

}



#menu-navigation  li.menu-option:hover {

	border-right: 3px solid #0f28a5;

}



#menu-navigation  li.menu-option:hover a {

	color: #0f28a5;

}



#menu-navigation  li.menu-option .submenu-navigation a {

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	font-weight: 500;

	color: #444444;

}



#menu-navigation  li.menu-option .submenu-navigation a.submenu-selected {

	color: #0f28a5;

}



#menu-navigation  li.menu-option .submenu-navigation a:hover {

	color: #0f28a5;

}



#content-block {

	width: 65%;

	float: left;

	overflow: hidden;

}



#content-block section {

	margin-bottom: 10px;

	overflow: hidden;

}



#contentblock-info {

	overflow: hidden;

	padding: 3px 15px;

}



#contentblock-info h1 {

	font-family: 'Open Sans', sans-serif;

	font-size: 22px;

	font-weight: 600;

	color: #0f28a5;

	padding: 7px 0px;

}



#contentblock-info h2 {

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	font-weight: 400;

	color: #444444;

	padding: 7px 0px;

}



#contentblock-info h3 {

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	font-weight: 600;

	color: #444444;

	padding: 7px 0px;

}



#contentblock-info p{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	font-weight: 400;

	color: #444444;

	padding: 7px 0px;

}



#contentblock-info a p{

	color: #0f28a5;

}



/* #contentblock-info img {

	width: 100%;

	margin: 0 auto;

} */



.contentblock-title {

	padding: 5px 0px;

	border-bottom: 1px solid #c5c5c5;

	margin-bottom: 15px;

}



#imghotel {

	width: 65%;

}



#imghotel-novotel {

	float: right;

	width: 150px;

	padding: 5px 0px 5px 10px;

}



#imghotel-ibis {

	float: left;

	width: 150px;

	padding: 5px 10px 5px 0px;

}



#imgetsituma {

	width: 100%;

	padding: 10px 0px;

}



#imgetsitentorno {

	float: left;

	width: 49%;

	margin-right: 1%;

}



#imgsalondeactos {

	float: right;

	width: 49%;

	margin-left: 1%;

}



#imgsalagradosb {

	float: left;

	padding: 3px 3px 3px 0px;

}



#imgmarksandler {

	height: 250px;

	float: right;

	padding: 3px 3px 3px 10px;

}



#imgmalaga-alcazaba {

	width: 400px;

	float: right;

	padding: 3px 3px 3px 10px;

}



#imgmalaga-puertogibralfaro {

	width: 100%;

	margin: 0 auto;

	padding: 10px 0px;

}



#imgaboutismir-estadisticas {

	width: 100%;

	padding: 10px 0px;

}



#imgtravelinfo-air {

	width: 250px;

	float: right;

	padding: 3px 3px 3px 10px;

}



#imgtravelinfo-train {

	width: 250px;

	float: right;

	padding: 3px 3px 3px 10px;

}



#imgtravelinfo-bus {

	width: 250px;

	float: right;

	padding: 3px 3px 3px 10px;

}



.contentblockinfo-section {

	padding: 10px 0px;

}



#contentblock-info .contentblockinfo-section h2 {

	font-weight: 700;

}



#news-block {

	width: 20%;

	float: left;

	overflow: hidden;

}



#newsblock-title {

	padding: 10px 0px 10px 15px;

	border-left: 1px solid #c5c5c5;

	border-bottom: 1px solid #c5c5c5;

}



#newsblock-title h1 {

	font-family: BebasNeue, 'Open Sans', sans-serif;

	font-size: 19px;

	font-weight: 400;

	color: #0f28a5;

}



.newsarticle-block {

	padding: 10px 0px 10px 15px;

	border-left: 1px solid #c5c5c5;

	border-bottom: 1px solid #c5c5c5;

}



.newsarticle-block h1 {

	font-family: BebasNeue, 'Open Sans', sans-serif;

	font-size: 16px;

	font-weight: 400;

	color: #0f28a5;

}



.newsarticle-block h2 {

	font-family: BebasNeue, 'Open Sans', sans-serif;

	font-size: 16px;

	font-weight: 400;

	color: #0f28a5;

}



.newsarticle-block p {

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	font-weight: 500;

	color: #444444;

}



/*CALL FOR PAPERS*/



.contentblock-list {

	margin: 0;

	padding:0;

	list-style: none;

}



.contentblock-list li {

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	font-weight: 400;

	color: #444444;

}



.contentblock-list li a {

	color: #0f28a5;

}



.numberedcontentblock-list {

	margin: 0;

	padding:0;

	margin-left: 20px;

}



.numberedcontentblock-list li {

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	font-weight: 400;

	color: #444444;

}



.numberedcontentblock-list li a {

	color: #0f28a5;

}



.contentblock-item {

	overflow: hidden;

}



.contentblock-hotel {

	margin-top: 15px;

}



#contentblock-info section .contentblock-list .contentblock-item  h3 {

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	font-weight: 600;

	color: #444444;

	padding: 0;

}



#contentblock-info section .contentblock-list .contentblock-item  p {

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	font-weight: 400;

	color: #444444;

	padding: 0;
	margin-left: 30px;

}



#contentblock-info section .contentblock-list .contentblock-item a p {

	color: #0f28a5;

}



#contentblock-info section p a{

	color: #0f28a5;

}



.contentblock-itemextra {

	overflow: hidden;

}



.contentblock-itemhighlight {

	overflow: hidden;

	color: #FFFFFF;

	padding: 10px 15px;

	border-top: 1px solid #0f28a5;

	border-bottom: 1px solid #0f28a5;

	margin: 7px 0px 12px;

}



#contentblock-info section .contentblock-list .contentblock-itemhighlight p {

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	font-weight: 400;

	color: #444444;

	padding: 0;

	font-style: italic;

}



#contentblock-info section .contentblock-list .contentblock-itemhighlight a p {

	color: #0f28a5;

}

.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}



.contentblock-table {

	border-collapse:collapse;

	border-spacing:0;

}



.contentblock-table td {

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	font-weight: 400;

	padding: 10px 10px 10px 25px;

	border-bottom: 1px solid #c5c5c5;

	overflow: hidden;

	word-break: normal;

}



.contentblock-table th {

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	font-weight: 600;

	padding: 10px 25px 10px 0px;

	/* border-right: 3px solid #0f28a5;*/

	border-bottom: 1px solid #c5c5c5;

	overflow:hidden;

	word-break:normal;

	text-align: left;

}



.marker {

	/* border-radius: 50%; circle*/

	width: 5px;

	height: 5px;

	background: #0f28a5;

	float: left;

	overflow: hidden;

	margin: 9px;

}



/*FOOTER*/



#footer {

	position: fixed;

	bottom: 0;

	overflow: hidden;

	width: 100%;

	box-shadow: 0px 0px 6px -1px #333;

	background: #FFFFFF;

}



#ledalo {

	float: right;

}



#ledalo h1 {

	font-family: 'Open Sans', sans-serif;

	font-size: 12px;

	font-weight: 400;

	color: #444444;

	padding: 7px;

}



#ledalo a:hover h1{

	color: #0f28a5;

}

/*Table comparative*/

.table {
	font-family: "Open Sans","sans-serif";
	width: 75%;
	background-color: #FFFFFF;
	border: 1px solid #444444;
	border-collapse: collapse;
	font-size: 15px;
	color: #444444;
	margin-bottom: 20px;
}

.table-separator {
	background-color: #444444;
}

.table tr {
	background-color: #fff;
	border: 1px solid #c5c5c5;
}

.table tr:hover {
	background-color: #eee;
}

.table th {
	font-family: BebasNeue, 'Open Sans', sans-serif;
  	font-size: 19px;
  	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid #c5c5c5;
	color: #FFFFFF;
	padding: 10px 0px;
	background-color: #444444;
	text-align: center;
	vertical-align: middle;
}

.table td {
	border: 1px solid #c5c5c5;
	padding: 7px 0px;
	text-align: center;
	vertical-align: middle;
	min-width: 94px;
}

.table td img {
	max-height: 50px;
	width: auto;
}

.table td.color1 {
	background-color: #f2dbdb;
}

.table td.color2 {
	background-color: #a6a6a6;
}

.table td.color3 {
	background-color: #c2d69b;
}

.table td.color4 {
	background-color: #d9d9d9;
}

.table td.color5 {
	background-color: #fabf8f;
}

.table td.color6 {
	background-color: #d99594;
}

.table td.color7 {
	background-color: #17365d;
	color: #ffffff;
}

.table td.color8 {
	background-color: #ffb7db;
}

.table td.color9 {
	background-color: #b8cce4;
}

.table td.color10 {
	background-color: #eed6a8;
}


@media screen and (max-width: 480px) {
.table {
width: 100%;
}
	.table tbody td { 
	    display: block; 
	    padding: 0px; 
	}
	.table tbody tr td:first-child { 
	    background: #444444; 
	    color: #fff; 
	}
	.table tbody td:before { 
	    font-weight: bold;
	    display: inline-block;
	}
}

@-moz-document url-prefix() {
    .table {
        border-collapse: initial;
border-spacing: 0px;
    }
}
